<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<add key="GitHub Ghost-Sound" value="url" />
	</packageSources>
	<packageSourceCredentials>
		<GitHub-Ghost-Sound>
			<add key="Username" value="User" />
			<add key="ClearTextPassword" value="password" />
		</GitHub-Ghost-Sound>
	</packageSourceCredentials>
</configuration>
