<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<clear/>
	<packageSources>
		<add key="NuGet.org" value="https://api.nuget.org/v3/index.json" />
		<add key="GitHub" value="secretUrl" />
	</packageSources>
	<packageSourceCredentials>
		<GitHub>
			<add key="Username" value="secretUser" />
			<add key="ClearTextPassword" value="Secretpass" />
		</GitHub>
	</packageSourceCredentials>
</configuration>